{% extends "base.html" %}

{% load static %}

{% block contenido %}

<h1>About</h1>

<p>Nombre: Fernando Rossin</p>

<p>Fecha: 29/06/2022</p>

<p>Al ingresar al link aparecerá la página de inicio con un mensaje de bienvenida.</p>

<p>-Posee un menú de navegación con botones:</p>

<p>Botón "Inicio": muestra un mensaje de bienvenida</p>

<p>Botón "Estudiantes": se utiliza para realizar el alta de estudiantes</p>

<p>Botón "Profesores": se utiliza para realizar el alta de profesores</p>

<p>Botón "Curso": se utiliza para realizar el alta de cursos</p>

<p>Botón "Ingresar": se utiliza para loguearse en la página</p>

<p>Botón "Registrarse": se utiliza para registrarse en la página</p>

<p>-Una vez logueado:</p>

<p>Aparecerá el botón para el logout.</p>

<p>También se podrán agregar, eliminar o modificar los datos de las bases y del perfíl de usuario.</p>



{%  endblock %}



